{
  "machine": { "gpu": 1, "vram": 0, "cpu": 8000, "ram": 16000 },
  "job": {
    "APIVersion": "V1beta1",
    "Spec": {
      "Deal": { "Concurrency": 1 },
      "Docker": {
        "WorkingDirectory": "/app",
        "Entrypoint": [
          "/app/src/run_model",
          "--prompt", {{ .prompt }}
          {{- if .temperature -}},
          "--temperature", {{ .temperature }}
          {{- end -}}
          {{- if .max_tokens -}},
          "--max_tokens", {{ .max_tokens }}
          {{- end -}}
        ],
        "Image": "devlinrocha/openthinker-7b@sha256:1c9bd3d2135b38885271d8a29c8a2d964ba294298f967e1f2d08e9cdf40f8687"
      },
      "Engine": "Docker",
      "Network": { "Type": "None" },
      "Outputs": [{ "Name": "outputs", "Path": "/outputs" }],
      "Resources": { "GPU": "1", "CPU": "8", "Memory": "16Gb" },
      "Timeout": 1800,
      "Verifier": "Noop"
    }
  }
}
